@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
html,
body {
    padding: 0;
    margin: 0;
}

body {
    background: rgba(255, 255, 255, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
}

.app {
    font-size: 11pt;
    font-family: 'Open Sans', Ubuntu, 'Segoe UI', sans-serif;
    border: 1px solid #cccccc;
    max-width: 800px;
    margin: 20px auto;
    color: #000000;
    background: #ffffff;
}

.app .nav {
    background: #e5e5e5;
    border-bottom: 1px solid #bbbbbb;
}

.app .nav .left {
    float: left;
}

.app .nav .right {
    float: right;
}

.app .nav a.item {
    display: inline-block;
    color: #000000;
    padding: 5px 5px;
    text-decoration: none;
}

.app .nav a.item.share {
    width: 20px;
    text-align: center;
}

.app .nav .left a.item {
    border-right: 1px solid #bbbbbb;
}

.app .nav .right a.item {
    border-left: 1px solid #bbbbbb;
}

.app .nav a.item:hover {
    background: #d5d5d5;
}

.app .nav a.item:active {
    background: #c5c5c5;
}

@media only screen and (min-width: 900px) {
    .app .main-wrap {
        display: table;
    }
    .app .main-wrap .main.with-sidebar {
        display: table-row;
    }
    .app .main-wrap .main.with-sidebar .content {
        display: table-cell;
        vertical-align: top;
        width: 80%;
    }
    .app .main-wrap .main.with-sidebar .sidebar {
        display: table-cell;
        vertical-align: top;
        border-left: 1px solid #bbbbbb;
    }
}

.app .main-wrap .main .about {
    padding: 5px 10px;
}

.app .footer {
    background: #e5e5e5;
    border-top: 1px solid #bbbbbb;
    padding: 10px;
}

.app .table-container {
    overflow-x: auto;
    max-width: 100%;
}

.app .table-container table {
    border-collapse: collapse;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 100%;
    border-top: 1px solid #cccccc;
}

.app .table-container table tr th,
.app .table-container table tr td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #cccccc;
}

.app .table-container tr:hover {
    background-color: #f7f7f7;
}

.app .table-container table.highlighted tr.nohighlight {
    opacity: 0.5 !important;
}

.app .table-container table.onlyhighlighted tr.nohighlight {
    display: none !important;
}

.app .table-container table.highlighted tr.highlight {
    background: #edd187;
}

.app .table-container thead {
    background: #f5f5f5;
}

.app a.button {
    display: inline-block;
    color: #000000;
    background: #e5e5e5;
    text-align: center;
    text-decoration: none;
    margin: 2px 4px;
    padding: 2px 4px;
    vertical-align: top;
}

.app a.button:hover {
    background: #d5d5d5;
}

.app a.button:active {
    background: #c5c5c5;
}

.app a.button .icon {
    display: inline-block;
    font-size: 14px;
    margin-right: 4px;
    vertical-align: middle;
}

.app a.button .text {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}

.app .clearfix {
    clear: both;
}

.app #KoboFirmware .col-model {
    min-width: 140px;
}

.app #KoboFirmware .col-hardware-revision {
    min-width: 93px;
}

.app #KoboFirmware .col-version {
    min-width: 93px;
}

.app #KoboFirmware .col-version .affiliate {
    display: none;
    font-size: 9px;
}

.app #KoboFirmware .col-version:hover .affiliate {
    display: block;
}

.app #KoboFirmware .col-release-date {
    min-width: 170px;
}

.app #KoboFirmware .col-links {
    max-width: 310px;
    min-width: 220px;
}

pre {
    max-width: 700px;
    overflow: auto;
    white-space: nowrap;
    padding: 5px;
}